<div class="guide">
	<span class="action"><%= link_to 'back to my games', user_url(@user) %></span><br /><br />
	<h2>Viewing template</h2>
	<%= @tpl.name %><br /><br />
</div>
<div class="object_box ">
	<div class="view">
		<% if @tpl.public %>
			This template is usable by everybody.
		<% else %>
			This template is only usable by <% if @owner %>you<% else %>the owner<% end %>.
		<% end %>
	</div>
	<div class="guide">
		<h2>Public?</h2>
		<% if @owner %>
			<% if @tpl.public %>
				<%= link_to 'make un-public', toggle_public_template_url(@tpl), :public => 0 %>
			<% else %>
				<%= link_to 'make public', toggle_public_template_url(@tpl), :public => 1 %>
			<% end %>
		<% end %>
	</div>
</div>
<div class="object_box ">
	<div class="view">
		<% if @tpl.cards.empty? %>
			This template has no cards yet!
		<% else %>
			<% @tpl.cards.each do |card| %>
				<div class="card">
					<%= render :partial => 'cards/card', :object => card %> 
					<% if @owner %>
						- <%= link_to 'delete', template_card_url(@tpl, card), :confirm => 'Are you sure?', :method => :delete %> | 
						<%= link_to 'edit', edit_template_card_url(@tpl, card) %> | 
						<%= link_to 'copy', :controller => 'cards', :action => 'copy', :template_id => @tpl, :id => card %>
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
	<div class="guide">
		<h2>Cards</h2>
		<% if @owner %>
			<span class="action"><%= link_to 'add cards', new_template_card_url(@tpl)%>
		<% end %>
	</div>
</div>
<div class="object_box "></div>