<%= flash[:error] %>
<%= form_for @user, :url => authenticate_users_url do |f| %>
<div class="object_box ">
	<div class="view">
		<%= f.text_field :login %>
	</div>
	<div class="guide">
		<h2>Login</h2>
	</div>
</div>

<div class="object_box ">
	<div class="view">
		<%= f.password_field :password %><br />
		<%= f.submit 'Login' %> or <%= link_to 'Register', new_user_url %>
	</div>
	<div class="guide">
		<h2>Password</h2>
	</div>
</div>
<div class="object_box"></div>
<% end %>
