<h1>Register</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <b><%= f.label :login %></b><br />
    <%= f.text_field :login %>
  </p>
  <p>
		WARNING: Passwords are stored and sent in plain text. Do not use an important password for this registration.<br />
    <b><%= f.label :password %></b><br />
    <%= f.password_field :password %>
  </p>
	<p>
	  <b>Confirm Password</b><br />
	  <%= f.password_field :password_confirmation %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>