<%= flash[:error] %>
<% form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being created:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="object_box ">
	<div class="view">
		<%= f.text_field :login %>
	</div>
	<div class="guide">
		<h2>Login</h2>
	</div>
</div>

<div class="object_box ">
	<div class="view">
			WARNING: Passwords are stored and sent in plain text. Do not use an important password for this registration.<br />
	    <%= f.password_field :password %>
		<p>
		  <b>Confirm: </b><br />
		  <%= f.password_field :password_confirmation %>
	  <p>
	    <%= f.submit 'Register' %>
	  </p>
	</div>
	<div class="guide">
		<h2>Password</h2>
	</div>
</div>
<div class="object_box"></div>
<% end %>
