<div class="guide">
	<h2>Welcome <%= @user.login %></h2>
	<%= link_to 'logout', :action => :logout, :id => @user %><br />
</div>
<br />
<div class="object_box ">
	<div class="view">
		<% if @user.hosted.empty?() %>
			You aren't hosting any games.
		<% end %>
		<% @user.hosted.each do |g| %>
			<%= link_to g.title, game_url(g) %> - <%= link_to 'delete', game_url(g), :confirm => 'Are you sure?', :method => :delete %><br />
		<% end %>
		<br /><br />
	</div>
	<div class="guide">
		<h2>Hosting</h2>
		<span class="action"><%= link_to 'new game', new_game_url %></span>
	</div>
</div>
<div class="object_box ">
	<div class="view">
		<% if @user.games.empty?() %>
			You aren't playing in any games.
		<% end %>
		<% @user.games.each do |g| %>
			<%= link_to g.title, game_url(g) %><br />
		<% end %>
	</div>
	<div class="guide">
		<h2>Playing</h2>
	</div>
</div>
<div class="object_box ">
	<div class="view">
		<% if @user.templates.empty?() %>
			You haven't created any templates.
		<% end %>
		<% @user.templates.each do |t| %>
			<%= link_to t.name, template_url(t) %><br />
		<% end %><br /><br />
	</div>
	<div class="guide">
		<h2>Your templates</h2>
		<span class="action"><%= link_to 'new template', new_template_url %></span>
	</div>
</div>
<div class="object_box ">
	<div class="view">
		<% @tpls.each do |t| %>
			<%= link_to t.name, template_url(t) %><br />
		<% end %>
	</div>
	<div class="guide">
		<h2>Public templates</h2>
	</div>
</div>
<div class="object_box"></div>