<div class="guide">
	<span class="action"><%= link_to 'back to my games', user_url(@user) %></span><br /><br />
	<h2>Viewing game</h2>
	<h3><%= @game.title %></h3>
	<% if @host %>
		<%= link_to 'add deck', edit_game_url(@game) %><br />
	<% end %>
<p>
	<h2>Players</h2>
		<% form_tag :action => :change_player, :id => @game do %>
		<% if @host %>
			<%= select_tag 'new_player_id', options_from_collection_for_select(@available_players, :id, :login) %><br />
			add player <%= radio_button_tag 'old_player_id', 'add', true %><br />
		<% end %>
		<% @game.players.each do |p| %>
			<%= p.login %> <% if p == @game.host %>
												(host)
										 <% elsif @host %>
												<%= link_to 'remove', { :action => :remove_player, :id => @game, :old_player_id => p.id },
																							  :confirm => 'Are you sure you want to remove ' + p.login + '?' %>
										 <% end %>
			<% if @host %><%= radio_button_tag 'old_player_id', p.id %><% end %><br />
		<% end %>
		<% if @host %>
			<%= submit_tag 'add or replace selected'%><br />		
		<% end %>		
	<% end %>
</p>
</div>

<div class="object_box ">
	<div class="view">
		<% if @hand.empty? %>
		<div class="card">
			<span class="text">Your hand is empty.</span>
		</div>
		<% else %>	
			<% @hand.each do |a| %>
				<div class="card">
					<%= link_to "play", :controller => :card_states, 
															:action => 'play', 
															:id => a, :game_id => @game %><% if @user.can('give', a.deck)%>, <%= link_to "give", :controller => :card_states,
																																																									 :action => 'give',
																																																									 :id => a, :game_id => @game %>
					<% end %>
					: <%= render :partial => 'cards/card', :object => a.card %>'
				</div>
			<% end %>		
		<% end %>
		<br />
	</div>
	<div class="guide">
		<h2>Hand</h2>
	</div>
</div>

<% @decks.each do |deck| %>

	<div class="object_box ">
		<div class="view">
			<br /><br /><br /><br />
		</div>
		<div class="guide">
			<div class="guide_border"></div>
			<h2>Deck</h2>
			<h3><%= deck.name %></h3>
			<% if @host %>
				<%= link_to 'remove deck', game_deck_url(@game, deck), :method => :delete, :confirm => 'Are you sure?'%><br />
				<%= link_to 'edit permissions', edit_game_deck_url(@game, deck) %>
			<% end %>
		</div>
	</div>

	<div class="object_box ">
		<div class="view">
			<div class="card">
				<span class="text">Cards remaining: <%= deck.get_draw.length %></span> 
				<% if @host %>
					<%= link_to_remote "-> toggle full deck", :url => '#', :complete => visual_effect(:toggle_slide, 'cards-popdown-'+deck.id.to_s)%>
				<% end %>
			</div>
			<% if @host %>
				<div id="cards-popdown-<%= deck.id %>" style="display:none">
					<% deck.get_draw.each do |d| %>
					<div class="card">
						<%= d.position+1 %>: <%= render :partial => 'cards/card', :object => d.card %>
					</div>
					<% end %>
				</div>
			<% end %>
			<br /><br /><br />
		</div>
		<div class="guide">
			<h2>Draw Pile</h2>
			<% if @user.can('draw', deck) %>
				<span class="action">
					<%%>
					<%= link_to 'draw', :controller => :decks, :action => :draw, :game_id => @game, :id => deck, :act => 'play_from_deck' %>
				</span><br />
			<% end %>
			<% if @user.can('draw_to_hand', deck)%>
				<span class="action">
					<%= link_to 'draw to hand', :controller => :decks, :action => :draw, :game_id => @game, :id => deck, :act => 'draw_to_hand' %>
				</span><br />
			<% end %>
			<% if @user.can('shuffle', deck) %>
			<span class="action">
				<%= link_to 'shuffle', :controller => :decks, :action => :shuffle, :game_id => @game, :id => deck %>
			</span>
			<% end %>
		</div>
	</div>
	<div class="object_box ">
		<div class="view">
			<div class="card">
				<span class="text">Cards discarded: <%= deck.get_discard.length %></span>
				<%= link_to_remote "-> toggle discards", :url => '#', :complete => visual_effect(:toggle_slide, 'discards-popdown-'+deck.id.to_s)%>
			</div>
			<div id="discards-popdown-<%= deck.id %>" style="display:none">
				<% deck.get_discard.each do |d| %>
				<div class="card">
					<%= render :partial => 'cards/card', :object => d.card %>
				</div>
				<% end %>
			</div>
		</div>
		<div class="guide">
			<h2>Discards</h2>
		</div>
	</div>

<% end %>


<div class="object_box ">
	<div class="view">
		<% @acts.each do |act| %>
		<div class="card">
			<%= link_to "#{act.position}:", game_act_url(@game, act) %> <%= render :partial => 'acts/act', :object => act %>
		</div>
		<% end %>
	</div>
	<div class="guide">
		<div class="guide_border"></div>
		<h2>Acts</h2>
	</div>
</div>
<div class="object_box"></div>