<div class="guide">
	<h2>Edit card</h2>
	<%= link_to 'cancel', template_url(@tpl) %>
</div>
<br />
<div class="object_box ">
	<div class="view">
		<% form_for([@tpl, @card]) do |f| %>
			<% if @card.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

          <ul>
            <% @card.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
			<%= f.text_field :text, :size => 80 %><br />
			<%= f.submit 'Update' %>
		<% end %>
	</div>
	<div class="guide">
		<h2>Text</h2>
	</div>
</div>
<div class="object_box"></div>

