<div class="guide">
	<%= link_to 'back to the game', game_url(@game) %>
	<p>
	<h2>Viewing act</h2>
	<h3><%= @act.position %></h3>
	</p>
</div><br />
<div class="object_box ">
	<div class="view">
		<b><%= @act_owner.login %></b> <%= act_to_english(@act.act_type) %>: <br />
		<div class="card">
			<% if @act.card_state %>
				<%= render :partial => 'cards/card', :object => @act.card_state.card %>
			<% else %>
				card no longer exists
			<% end %>
		</div>
		<br /><br /><br /><br /><br /><br /><br /><br />
	</div>
	<div class="guide">
		<h2>Game</h2>
		<h3><%= @game.title %></h3><br />
		<h2>Deck</h2>
		<% if @act.card_state %>
			<%= @act.card_state.deck.name %>
		<% else %>
			defunct
		<% end %>
			<br />
		<h2>Time</h2>
		<%= @act.created_at %><br /><br />
	</div>
</div>
<div class="object_box ">
